@{
    string nomeApp = ProjetoGuia_Biblioteca.Biblioteca.nomeApp;
}

<!-- Espaço pro footer -->
<div style="margin-bottom: 200px !important;"></div>

<!---->
<div id="divEfeitoFooter" class="pl-6 pr-6 mt-6"></div>

<!-- Foter -->
<footer class="site-footer sem-highlight">
    <div class="container">
        <div class="columns">
            <div class="column is-6-tablet is-6-desktop" style="padding-right: 50px;">
                <h6>SOBRE</h6>
                <p class="text-justify">
                    @nomeApp é uma plataforma para você conhecer sua cidade. Descubra todos os fluxos.
                    At maxime excepturi est incidunt pariatur reprehenderit repellendus est exercitationem atque. Et quaerat perspiciatis ut facere explicabo et minima nesciunt est distinctio esse et dolor dolore.
                </p>
            </div>

            <div class="column is-6-mobile is-3-desktop">
                <h6>RECURSOS</h6>
                <ul class="footer-links">
                    <li><a href="#">Isso é um teste</a></li>
                    <li><a href="#">xxx</a></li>
                    <li><a href="#">xxx</a></li>
                    <li><a href="#">xxx</a></li>
                </ul>
            </div>

            <div class="column is-6-mobile is-3-desktop">
                <h6>OUTROS</h6>
                <ul class="footer-links">
                    <li><a asp-controller="Home" asp-action="Sobre">Sobre</a></li>
                    <li><a asp-controller="Home" asp-action="TermosUso">Politica de privacidade</a></li>
                    <li><a asp-controller="Home" asp-action="ReportarProblema">Reportar um problema</a></li>
                </ul>
            </div>
        </div>

        <hr class="mt-6">
    </div>

    <div class="container">
        <div class="row columns">
            <div class="column">
                <p class="copyright-text">
                    Copyright &copy; @DateTime.Now.Year —

                    Feito com o 💛 por
                    <a href="https://www.instagram.com/junioranheu/" target="_blank" rel="nofollow">@@junioranheu</a>
                    e
                    <a href="https://www.instagram.com/marcello.salerno0/" target="_blank" rel="nofollow">@@ateu</a>
                </p>
            </div>

            <div class="column">
                <ul class="social-icons">
                    <li><a class="twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="facebook" href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="youtube" href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>