
<div class="modal is-active sem-highlight" id="modalPost">
    <div class="modal-background"></div>

    <div class="modal-content">
        <section class="modal-card-body">
            <div class="modal-padding">
                <div class="image-info-text">
                    <h5 class="image-name medium has-text-centered cor-principal" id="spanTituloModal"></h5>
                    <hr />
                    <h5 class="image-subtext cor-preto medium" id="spanConteudoModal"></h5>
                </div>

                <div class="imagem-modal">
                    <img id="imgMidiaModal" src=""/>
                </div>
            </div>
        </section>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
</div>